:root {
  --linkColor: #1a759f;
  --linkColorHover: #1e86b6;
  --borderColorLight: #e8e8e8;
  --borderColorDark: #d4d4d4;
  --boxShadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);
  --contentBg: #ffffff;
  --contentColor: #0c0d0e;
  --contentAltColor: #ffffff;
  --footerBg: #232629;
  --footerColor: #b5babf;
  --headerBg: #f8f9f9;
  --headerBgHover: #e8ebeb;
  --headerColor: #525960;
}

@media (prefers-color-scheme: dark) {
  :root {
    --borderColor: #e8e8e8;
    --contentBg: #ffffff;
    --contentColor: #0c0d0e;
    --footerBg: #232629;
    --footerColor: #b5babf;
    --headerBg: #f8f9f9;
    --headerColor: #525960;
  }
}
