@use "settings.scss" as s;
@use "dashboard.scss" as dashboard;

@mixin styles {
  main {
    grid-area: content;
    font-size: s.$font-size;
    line-height: s.$line-height;
    padding: s.$spacing 0;

    @include dashboard.styles;
  }
}
