@use "colors.scss";
@use "settings.scss" as s;

@use "header.scss" as header;
@use "content.scss" as content;
@use "footer.scss" as footer;

@font-face {
  font-family: "heebo";
  src: url("../fonts/heebo.woff2") format("woff2"),
    url("../fonts/heebo.woff") format("woff"),
    url("../fonts/heebo.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
  font-size: 1em;
  font-family: heebo, "Segoe UI", "Liberation Sans", sans-serif;
  font-weight: normal;
  overflow-y: auto;

  a,
  a:active,
  a:visited {
    text-decoration: none;
    color: var(--linkColor);
  }

  a:hover {
    color: var(--linkColorHover);
  }

  header,
  main,
  footer {
    max-width: 100%;
    overflow-x: hidden;
  }

  .column {
    max-width: 1200px;
    margin: 0 auto;
    padding: s.$spacing;

    .row {
      display: flex;
      flex-direction: column;

      @media (min-width: s.$tablet-start) {
        flex-direction: row;
      }
    }
  }

  .notice {
    background-color: var(--noticeBg);
    border-color: var(--noticeBorder);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    box-shadow: var(--boxShadow);
    color: var(--noticeColor);
    padding: s.$spacing;
    text-align: center;
    margin-bottom: s.$spacing;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  .error {
    background-color: var(--errorBg);
    border-color: var(--errorBorder);
    color: var(--errorColor);
  }

  .toggle {
    position: relative;
    top: -5px;
    display: inline-block;
    width: 50px;
    height: 30px;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    border: 1px solid var(--borderColorDark);
    box-shadow: var(--boxShadow);
    background-color: var(--toggleBg);
    overflow: hidden;
    cursor: pointer;

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transition: 0.4s;
      transition: 0.4s;

      &:before {
        position: absolute;
        content: "";
        height: 19px;
        width: 19px;
        left: 4px;
        bottom: 4px;
        border-radius: 2px;
        background-color: var(--sliderBg);
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
    }

    &.checked {
      background-color: var(--toggleCheckedBg);
      .slider {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);

        &:before {
          background-color: var(--sliderCheckedBg);
        }
      }
    }
  }
}

@include header.styles;
@include content.styles;
@include footer.styles;
